body {
    margin: 0;
    height: 100vh;
}

/* Main Grid */
.container {
    display: grid;
    grid-template:
    "top-menu       top-menu        top-menu"   60px
    "left-menu      main            right-menu" 1fr /
    300px           1fr             300px;
    background-color: rgb(190, 190, 190);
    height: 100%;
    gap: 30px
}

/* Make right-menu disappear */
@media screen and (max-width: 1000px) {
    .container {
        grid-template:
        "top-menu   top-menu"   60px
        "left-menu  main    "   1fr /
        300px       1fr;       
    }
}

@media screen and (max-width: 700px) {
    .container{
        grid-template:
        "top-menu" 60px
        "main"     1fr /
        1fr;
    }
}

.top-menu {
    display: grid;
    grid-area: top-menu;
    background-color: rgb(255, 255, 255);
    grid-template-columns: .2fr 1fr .8fr;
    gap: 30px;
    padding: 5px;
}

.top-menu > div {
    border: dotted 2px blue;
    border-radius: 5px;
}

.search {
    display: grid;
    grid-template-columns: .4fr;
}

.search > div {
    margin: 3px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    place-content: center;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.navbar > div {
    margin: 3px;
    border: dotted 2px rgb(233, 168, 28);
    border-radius: 5px;
}

.left-menu {
    display: grid;
    grid-area: left-menu;
    margin-left: 50px;
    grid-template-rows: 300px 125px 125px;
    gap: 10px
}

.left-menu > div {
    background-color: rgb(255, 255, 255);
    border: dotted 2px rgb(15, 0, 221);
}

.profile {
    display: grid;
    grid-template-rows: 1.3fr repeat(3, .3fr);
}

.profile > div {
    border: dotted 2px rgb(0, 255, 21);
    margin: 3px;
}

@media screen and (max-width: 700px) {
    .left-menu{
        display: none;
    }
    .left-menu > div {
        display: none;
    }
}

.right-menu {
    display: grid;
    grid-area: right-menu;
    margin-right: 50px;
    grid-template-rows: 250px 125px 125px;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .right-menu {
        display: none;
    }
    .right-menu > div {
        display: none;
    }
}

.right-menu > div {
    background-color: rgb(255, 255, 255);
    border: dotted 2px rgb(38, 0, 255);
}

.trend {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.trend > div {
    border: dotted 2px rgb(0, 255, 21);
    margin: 3px;
}


.main {
    grid-area: main;
    display: grid;
    
    grid-template-rows: 150px 1fr;
}

.main > div {
    background-color: rgb(255, 255, 255);
    border: dotted 2px rgb(25, 0, 255);
    margin: 3px;
}

@media screen and (max-width: 1000px) {
    .main{
        margin-right: 50px;
    }
}

@media screen and (max-width: 700px) {
    .main{
        margin-left: 50px;
    }
}

.post {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.statusTop {
    display: grid;
    grid-template-columns: .1fr 1fr;
    border: dotted 2px rgb(0, 255, 21);
    margin: 3px;
    gap: 5px;
}

.statusTop > div {
    border: dotted 2px rgb(255, 136, 0);
    margin: 3px;
}

.statusBottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: dotted 2px rgb(0, 255, 21);
    margin: 3px;

}

.statusBottom > div {
    border: dotted 2px rgb(255, 136, 0);
    margin: 3px;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    place-self: center
}



.feed {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.feed > div {
    border: dotted 2px rgb(0, 255, 21);
    margin: 3px;
}