body {
    margin: 0;
    min-height: 100vh;
}

/* Min-height setzeun um beim vertikalen Scrollen den Hintergrund beizubehalten:
https://stackoverflow.com/questions/14963393/my-body-background-color-disappears-when-scrolling */

.container {
    display: grid;
    grid-template-columns: .4fr 1fr .5fr;
    background-color: rgb(190, 190, 190);
    height: 100%;
    gap: 10px;
}


@media screen and (max-width: 1000px) {
    .container {
        
    }
}

.container > .topnav {
    display: grid;
    grid-column: span 3;
    grid-template-columns: .4fr 1fr .5fr;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    padding: 5px;
}

.logo {
    display: grid;
    grid-template-columns: .2fr .3fr .7fr;
    border: dotted 2px blue;
    border-radius: 5px;
    height: 50px;
}

.logo > div {
    border: dotted 2px green;
    margin: 3px;
    place-content: center;
    text-align: center;
}

.search {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    border: dotted 2px blue;
    border-radius: 5px;
}

.search > div {
    border: dotted 2px green;
    margin: 3px;
    place-content: center;
    
}

@media screen and (max-width: 600px) {
    .search{
        display: none;
    }
}
.account {
    display: grid;
    grid-template-columns: .2fr repeat(3, .2fr) .5fr;
    border: dotted 2px blue;
    border-radius: 5px;
}

.account > div {
    border: dotted 2px green;
    margin: 3px;
}

@media screen and (max-width: 1000px) {
    .account {
        display: none;
    }
}

.folders {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 50px 350px 100px 150px ;
    border: dotted 2px blue;
    border-radius: 5px;
    margin-left: 5px;
    gap: 10px;
    padding: 3px;
}

.compose {
    height: 50px;
    width: 50%;
    border: solid 1px gray;
    border-radius: 20px;
    background-color: lightgrey;
    text-align: center;
    justify-self: start;
    margin-left: 10px;
    box-shadow: 0px 1px 3px darkgray;
}

.sub-folders {
    display: grid;
    grid-template-rows: fit-content(100%);
    border: dotted 2px green;
    gap: 10px;
    padding-left: 10px;
}

.meeting {
    display: grid;
    border: dotted 2px green;
    gap: 10px;
    padding-left: 10px;
}

.chat {
    display: grid;
    border: dotted 2px green;
    gap: 10px;
    padding-left: 10px;
}

.mailcenter{
    display: grid;
    grid-template-rows:35px 1fr;
    background-color: rgb(255, 255, 255);
    border: dotted 2px blue;
    border-radius: 5px;
}

.mailcenter > div{
    border: dotted 2px green;
    margin: 5px;
}

.filter {
    background-color: darkgrey;
    place-content: center;
}

.emails > p {
    border: dotted 2px rgb(255, 145, 0);
    margin: 5px;
    text-align: start;
    place-content: center;
    /* border-bottom: 1px dotted black;
    margin: 10px 0 10px 0; */
}


.right-menu {
    display: grid;
    background-color: rgb(255, 255, 255);
    border: dotted 2px blue;
    border-radius: 5px;  
    margin-right: 5px;
    grid-template-columns: .8fr .2fr;
}

@media screen and (max-width: 1000px) {
    .right-menu{
        display: none;
    }
}

.settings {
    display: grid;
    grid-template-rows: .05fr .05fr .1px repeat(3, .4fr);
    border: dotted 2px green;
    margin: 5px 0 5px 5px;
}
.settings > div:nth-of-type(2){
    width: 150px;
    text-align: center;
    place-self: center;
    border: 1px solid grey;
    margin: 1px 10px 1px 10px;
    background-color: lightgray;
    box-shadow: 0px 1px 3px darkgray;
}
.settings > p{
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
    margin: 0;
}

.density{
    border: dotted 2px rgb(255, 145, 0);
    margin: 3px;
}

.theme{
    display: grid;
    grid-template-rows: .1fr .8fr;
    border: dotted 2px rgb(255, 145, 0);
    margin: 3px;
}

.theme > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.theme > div:nth-of-type(1) > p{
    text-align: start;
    margin: 5px 0 5px 0;
}

.theme > div:nth-of-type(1) > div > p{
    text-align: end;
    margin: 5px 0 5px 0;
}

.images {
    display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: repeat(4, 25%);
    border: dotted 2px rgb(255, 0, 191);
    margin: 3px;
    place-items: center;
    height: 220px;
}

.inboxtype{
    border: dotted 2px rgb(255, 145, 0);
    margin: 3px;
}
.apps {
    display: grid;
    grid-template-rows: .3fr .7fr;
    border: dotted 2px green;
    margin: 5px;
}

.apps > div:nth-of-type(1){
    display: grid;
    grid-auto-rows: 1fr;
    place-items: center;
    border: dotted 2px rgb(255, 145, 0);
    margin: 3px;
}


